[Unit]
Description=Kibana
Documentation=https://www.elastic.co
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=jj-kibana
Group=jj-kibana
PrivateTmp=true

Environment=KBN_HOME=$KBN_HOME
Environment=KBN_PATH_CONF=$KBN_PATH_CONF

EnvironmentFile=-/etc/default/kibana
EnvironmentFile=-/etc/sysconfig/kibana

ExecStart=$KBN_HOME/bin/kibana

Restart=on-failure
RestartSec=3

StartLimitBurst=3
StartLimitInterval=60

WorkingDirectory=$KBN_HOME

StandardOutput=journal
StandardError=inherit

[Install]
WantedBy=multi-user.target
