name: ci-check

on:
  pull_request:
    branches: ['*']
    paths:
      - 'src/**'

jobs:
  ci-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v16
        with:
          name: judah-sotomayor
      - name: Run `nix flake check`
        run: nix flake check
      - name: Run `cargo clippy`
        run: |
          nix develop --command cargo clippy
